[Unit]
Description=My Inventory WebApp

Requires=mywebapp.socket
After=network.target mariadb.service mywebapp.socket

[Service]
WorkingDirectory=/var/www/mywebapp
ExecStartPre=/usr/bin/bash /var/www/mywebapp/migrate.sh
ExecStart=/usr/bin/node /var/www/mywebapp/index.js --db_url "mysql://vlad:qwerty@localhost:3306/inventory_db"

User=mywebapp
Group=mywebapp
Restart=always

[Install]
WantedBy=multi-user.target